* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f6f8f9;
}

/* HEADER */
header {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
}

.contain {
  background-color: #ffffff;
}

header img {
  vertical-align: middle;
}

/* MAIN */
main {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

/* BUTTON BAR */
.top-bar {
  font-size: 15px;
  height: 60px;
  border-bottom: 1px solid #f6f8f9;
  padding-left: 50px;
  line-height: 60px;
}

.top-bar .button {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.top-bar .task.button {
  background-color: #47adf1;
  color: white;
}

.top-bar .section.button {
  color: #dee1e4;
  border: 1px solid #dee1e4;
}

/* TODO LIST */
.list-content {
  padding-top: 30px;
  padding-left: 50px;
}

.list-content .box {
  margin-top: 20px;
}

.list-content .title-task {
  font-weight: bold;
  font-size: 20px;
}

/* CHECKBOX */
.checkbox {
  display: inline-block;
  height: 15px;
  border-radius: 100%;
  font-size: bold;
  line-height: 15px;
  padding: 3px;
}

.checkbox.done {
  color: #6bc4ae;
  border: 1px solid #6bc4ae;
}

.checkbox.undone {
  color: #eb5b54;
  border: 1px solid #eb5b54;
}

.description-task {
  padding-top: 15px;
}

/* TASK BOX */
.box-task {
  display: inline-block;
  font-size: 10px;
  color: white;
  border-radius: 20px;
  padding: 8px;
}

.box-task.edit {
  background-color: #47adf1;
}

.box-task.goals {
  background-color: #9c72e4;
}

.box-task.recru {
  background-color: #64c0a9;
}

.box-task.mobile {
  background-color: #dc902e;
}

.box-task.web {
  background-color: #d863a1;
}

.box-task.sales {
  background-color: #b0c926;
}