* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f6f8f9;
}

/* HEADER */
header {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
}

.contain {
  background-color: #ffffff;
}

header img {
  vertical-align: middle;
}

/* MAIN */
main {
  width: 70%;
  height: 800px;
  margin: auto;
  margin-top: 50px;
}

.top-bar {
  font-size: 15px;
  height: 60px;
  border-bottom: 1px solid #f6f8f9;
  padding-left: 50px;
  line-height: 60px;
}

.top-bar .button {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.top-bar .task.button {
  background-color: #47adf1;
  color: white;
}

.top-bar .section.button {
  color: #dee1e4;
  border: 1px solid #dee1e4;
}
